<!DOCTYPE html>
<html lang="en">
<head>
  <title>Progressive Form</title>
  <meta name="description" content="A demo for Thinkful studets on the possibilities of a server-side fallback">
  <meta charset="utf-8">
  {{!--
    Comment this back in when mobile-friendly design is implemented.
    Until then, it's actuallty detrimental to UX.

    <meta name="viewport" content="width=device-width">
  --}}
  {{!--<link id="favicon" rel="icon" href="" type="image/x-icon">--}}  
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

    {{{body}}}

</body>
</html>